html
  box-sizing border-box
  overflow hidden

body
  margin 0
  font-family Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color $baseText

*
*:before
*:after
	box-sizing inherit

.vgt-global-search__input
  max-width 400px

input
textarea
select
button
  font-family inherit

.bt24-top-it-solution
  box-sizing inherit !important

#app
  overflow hidden
  height 100%

  .ag-theme-balham
    font-size 15px
    text-align left
    font-family inherit
    color $baseText

    button
      outline none
      cursor pointer

    .ag-root
      border 1px solid $border

    .ag-header
    .ag-tool-panel
      background linear-gradient($thBg1, $thBg2)
      border-color $border
      color $thText

    .ag-row-odd
      background-color $oddRowBg

    .ag-row-even
      background-color $evenRowBg

    .ag-row-group
      background-color $groupRowBg
      font-weight 500

    .ag-cell
      line-height 32px

    .ag-overlay-wrapper
      vertical-align top
      padding-top 20%

  .v--modal-background-click
    display flex
    justify-content center
    align-items flex-start
    padding-top 80px

  .v--modal-overlay .v--modal-box
    position static
