$border = #DCDFE6
$thText = #606266
$thBg1 = #F4F5F8
$thBg2 = #F1F3F6
$baseText = #2c3e50
$link = #2067b0
$groupRowBg = #d6e9f3
$oddRowBg = #F9F9FB
$evenRowBg = #fff

$success = #80CB00
$options = #a9a9a9
$upgrade = #9f00ae
$primary = #0e57d1
$commonBtn = #535c69

$white = #fff
