$root = '.c-modal'

{$root}
  &.error-modal
    padding 25px

  &__ttl
    margin 1rem 0
    font-size 20px
    text-align center

  &__message
    text-align center

  &__actions
    width 100%
    margin-top 30px
    display flex
    align-items center
    justify-content space-around

  &__btn
    background-color $commonBtn
    padding 5px 10px
    color $white
    border none
    font-size 17px
    line-height 1.5
    cursor pointer
    outline none

    &_confirm
      text-decoration none
      background-color $upgrade
